---
import Layout from "@layouts/Layout.astro";
import Link from "@src/components/base/Link.astro";
---

<Layout>
  <h1>Hello World!</h1>
  <Link external href="https://github.com/jp-gerona">Github</Link>
</Layout>
