---
import { siteConfig } from "@src/site.config";

import Link from "./Link.astro";

const copyright = `2026 - PRESENT © ${siteConfig.author}`;
---

<footer class="prose dark:prose-invert">
  <Link external href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</Link>
  <span>{copyright}</span>
</footer>
