/* Navigation Menu (For Desktop Screens) Styles */
header {
  position: fixed;
  background-color: var(--background);
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav,
.nav-menu {
  display: flex;
  flex-direction: row;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 8%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--transparent1);
}

/* Logo and Name Styles */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo a {
  color: var(--primary);
  white-space: nowrap;
}

/* Navigation Links Styles */
.nav-menu {
  gap: 4rem;
}

.nav-menu a {
  font-size: var(--p);
  color: var(--text);
  text-decoration-color: var(--text);
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.nav-menu a:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.nav-menu a.active {
  color: var(--primary);
  transition: all 0.2s ease;
}

/* Navigation Menu (For Mobile/Tablet Screens) Styles */
#nav-ham {
  display: none;
}

.nav-ham-menu {
  position: relative;
  display: inline-block;
}

.ham-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14px;
  width: 20px;
  cursor: pointer;
}

.ham-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text);
  transition: all 0.3s ease;
}

.menu-links {
  position: absolute;
  top: 3.4rem;
  right: 10px;
  background-color: var(--background);
  width: fit-content;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
}

.menu-links a {
  font-size: var(--p);
  text-align: left;
  color: var(--text);
  text-decoration-color: var(--text);
  white-space: nowrap;
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  margin: 5px;
  transition: all 0.2s ease;
}

.menu-links a:hover {
  background-color: var(--tertiary);
  transition: all 0.2s ease;
}

.menu-links.open {
  max-height: 520px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--transparent1);
}

.ham-icon.open span:first-child {
  transform: rotate(45deg)  translate(5px, 3.5px);
}

.ham-icon.open span:nth-child(2) {
  opacity: 0;
}

.ham-icon.open span:last-child {
  transform: rotate(-45deg) translate(5px, -3.5px);
}

.ham-icon span:first-child {
  transform: none;
}

.ham-icon span:first-child {
  opacity: 1;
}

.ham-icon span:first-child {
  transform: none;
}

/* Header Media Queries */
@media screen and (max-width: 1023px) {
  #nav-desktop {
    display: none;
  }

  #nav-ham {
    display: flex;
  }

  nav {
    padding: 1.2rem 3%;
  }
}