/* *Home Section Styles */
.home {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 8%;
  flex-direction: column;
}

.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-container .social-icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.home-container .social-icons a {
  color: var(--text);
  font-size: 1.5em;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.home-container .social-icons a:hover {
  color: var(--accent);

}
.home-container .info {
  margin-right: 50px;
}

.home-container .info h1 {
  line-height: 70px;  
  white-space: nowrap;
  background: var(--linearPrimaryAccentPrimary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradientChange 15s linear infinite;
}

@keyframes gradientChange {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

.home-container .info h4 {
  font-feature-settings: 1.5em;
  line-height: 50px;
}

.home-container .info p {
  max-width: 420px;
  line-height: 1.8;
}

.home-container .info span {
  color: var(--accent);
}

.home-container .home-img {
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-container .home-img img {
  width: 100%;
  min-width: 500px;
  height: auto;
  display: block; 
}

.home .scroll-down {
  display: grid; 
  grid-template-columns: auto 1fr;
  gap: 10px;
  color: var(--primary);
  margin-top: 40px;
}

.home .scroll-down i {
  color: var(--accent);
  font-size: 1.2rem;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}

/* *About Section Styles */
.about .container .content {
  column-gap: 40px;
  width: 100%;
}

.education-all {
  cursor: default;
}

.about-img {
  position: relative;
}

.about-img img {
  width: 500px;
  min-width: 400px;
  border-radius: 12px;
  border: 1px solid var(--transparent1);
}

.about-info .description {
  max-width: 700px;
}

.about-info .description h3 {
  margin-bottom: 20px;
}

.about-info .description h4 {
  margin-bottom: 20px;
}

.about-info .description h4 .description-1 {
  margin-bottom: 10px;
  color: var(--primary);
}

.about-info .description h4 .description-2 {
  margin-bottom: 10px;
  color: var(--accent);
}

.about-info .description p {
  margin-bottom: 30px;
  line-height: 1.8;
}

.about-info .description .btn-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

/* *Skills Section */
.skills .container .content {
  width: 100%; 
}

.skills-description {
  max-width: 900px;
  margin-bottom: 50px;
}

.skills-description h4 {
  font-size: 2em;
  margin-bottom: 5px;
}

.skills-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.skills-info h5 {
  margin-bottom: 20px;
}

.skills-info h5 label {
  background: var(--secondary30);
  color: var(--text);
  padding: 8px 18px;
  border-radius: 5px;
}

.education-all {
  margin-bottom: 80px;
}

.edu-list .item {
  background: var(--secondary10);
  border-top: 1px solid var(--transparent1);
  border-left: 1px solid var(--transparent1);
  border-right: 1px solid var(--transparent1);
  border-bottom: 3px solid var(--secondary);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.edu-list .item .year {
  margin-bottom: 5px;
}

.edu-list .item span {
  color: var(--accent);
}

.skills-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary10);
  border: 1px solid var(--transparent1);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.skills-list .item i {
  color: var(--accent);
}

.edu-list .item:hover, .skills-list .item:hover {
  transform: scale(1.03);
  border-color: var(--secondary);
  transition: transform ease 0.3s;
}

/* *Projects Section Styles */
.projects .container .content {
  width: 100%;
}

.project-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
  gap: 30px;
  margin: 0 auto;
}

.project-portfolio .img-card {
  background-size: cover;
  cursor: pointer;
  padding: 10rem 0 0;
  max-width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  
  transition: transform 0.5s ease;
}

#project-1 {
  background-image: url("../images/project-onemcl1.png");
  background-position: center;
}

#project-2 {
  background-image: url("../images/project-personalwebsite1.png");
  background-position: center;
}

#project-3 {
  background-image: url("../images/project-freddifatbear1.png");
}

#project-4 {
  background-image: url("../images/project-umak.png");
}

#project-5 {
  background-image: url("../images/project-python1.png");
  background-position: center;
}

#project-6 {
  background-image: url("../images/project-powerpoint1.png");
}

.project-portfolio .img-card:hover,
.project-portfolio .img-card:focus-within {
  transform: scale(1.03);
  transition: 0.5s ease;
}

.img-card .overlay {
  --padding: 20px;
  padding: var(--padding);
  background: linear-gradient(
    hsl(297, 43%, 9%, 0),
    hsl(297, 43%, 9%, 0.3) 20%,
    hsl(297, 43%, 9%,  1)
  );
}

/* ?Makes these transitions not appear on mobile so that the project cards work on mobile. */
@media (hover) {
  .overlay {
    transform: translateY(70%);
    transition: transform 0.5s ease;
  }

  .img-card:hover .overlay,
  .img-card:focus-within .overlay {
    transform: translateY(0);
    transition-delay: 0.5s;
  }

  .img-card:focus-within .overlay {
    transition-duration: 0s;
  }

  .img-card .overlay .info > *:not(.card-title) {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .img-card:hover .overlay .info > *:not(.card-title),
  .img-card:focus-within .overlay .info > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1s;
  }

  .img-card .info h5::after {
    transform: scaleX(0);
  }
}

.img-card .info h5 {
  position: relative;
  width: max-content;
  margin-bottom: 20px;
  line-height: 1.8;
}

.img-card .info h5::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: var(--accent);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.img-card:hover .card-title::after,
.img-card:focus-within .card-title::after {
  transform: scaleX(1);
}

.img-card .info p {
  margin-bottom: 25px;
  line-height: 1.5;
  opacity: 0.85;
}

/* *Project Model Pop-up Styles */
.project-modal {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--transparent3);
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.project-modal.open {
  visibility: visible;
  opacity: 1;
}

.project-modal-content {
  position: relative;
  background: var(--background);
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid var(--secondary);
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.project-modal-content label {
  margin-top: 10px;
}

.project-modal.open .project-modal-content {
  transform: translateY(0);
}

.project-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.project-modal-content img {
  width: 100%;
  margin: 20px 0;
  border-radius: 6px;
}

.project-modal-content a {
  margin-right: 1rem;
}

.contact .section-title-2  span {
  position: relative;
  background: var(--linearPrimaryAccent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.contact p {
  line-height: 1.8rem;
  text-align: center;
}